future==0.18.2
h11==0.13.0
idna==3.3
ifaddr==0.1.7
kconfiglib==13.7.1
MarkupSafe==2.1.0
marshmallow==3.14.1
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
platformio==5.2.5
pycparser==2.21
pydantic==1.9.0
pyelftools==0.28
Pygments==2.11.2
pyparsing==2.3.1
PyR3==0.3.0
PyYAML==6.0
reedsolo==1.5.4
requests==2.27.1
rich==12.1.0
semantic-version==2.9.0
setdefaultencoding==0.0.0a0
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
starlette==0.18.0
tabulate==0.8.9
toml==0.10.2
typing_extensions==4.1.1
urllib3==1.26.8
uvicorn==0.17.4
windows-curses==2.3.0
wsproto==1.0.0
xlrd==2.0.1
zeroconf==0.38.3